@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot');
  src: url('font/fontello.eot') format('embedded-opentype'),
       url('font/fontello.woff2') format('woff2'),
       url('font/fontello.woff') format('woff'),
       url('font/fontello.ttf') format('truetype'),
       url('font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'amateur-blueprint-regular';
    src: url('font/amateurblueprint-webfont.woff2') format('woff2'),
         url('font/amateurblueprint-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0px;
	padding: 0px;
}

::selection {
	background-color: #0068d8;
	color: white;
}

body {
	overflow-x: hidden;
	background-image: url('images/noisy_grid_light.png');
	background-repeat: repeat;
	transition: 0.5s;
}

.dark-mode {
	overflow-x: hidden;
	-webkit-filter: invert();
	background-image: url('images/noisy_grid_dark.png');
	transition: 0.5s;
}

video {
	margin: auto;
	background-color: white;
	opacity: 90%;
	position: relative;
	top: -64px;
}

.glyph{
	display: flex;
	flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	font-family: 'amateur-blueprint-regular';
	font-size: 48px;
	text-align: center;
	color: #0068d8;
	border-style: solid;
	border-width: 1px;
	border-color: #0068d8;
	padding: 40px;
	height: 24px;
	width: 24px;
	transition: 0.2s;
	cursor: pointer;
}

.glyph:hover {
	background-color: #0068d8;
	color: black;
}

.navbar {
	display: flex;
	flex-direction: row-reverse;
	-webkit-justify-content: right;
	-webkit-align-items: center;
	height: 64px;
	background-color: #edeeed;
	color: black;
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100vw;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: darkgray;
	z-index: 2;
}

.navbar a {
	font-family: 'Roboto';
	color: black;
	font-size: 18px;
	text-align: right;
	margin: 80px;
	text-decoration: none;
}

.navbar a:hover {
	color: #0068d8;
}

h1 {
	font-family: 'amateur-blueprint-regular';
	text-align: center;
	color: #111113;
	margin: auto;
	padding: 40px;
	font-size: 48px;
	opacity: 0.5;
}

h2 {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
	color: darkgray;
	width: 50vw;
	padding-bottom: 40px;
	margin: auto;
}

p {
	font-family: 'Roboto';
	font-size: 16px;
	letter-spacing: 2px;
	color: black;
	width: 50vw;
	border-style: solid;
	border-with: 1px;
	border-color: #0068d8;
	padding: 40px;
	margin: auto;
}

textarea {
	font-family: 'amateur-blueprint-regular';
	font-size: 36px;
	margin: auto;
	color: black;
	background-color: #edeeed;
	width: 50%;
	border-style: solid;
	border-radius: 1px;
	border-color: darkgray;
	padding: 80px;
	border-radius: 5px;
	margin-bottom: 80px;
}

.banner {
	display: flex;
	flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	color: black;
	padding: 0px 80px 0px 80px;
}

.button {
	font-family: 'fontello';
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #111113;
	background-color: #edeeed;
	color: #111113;
	position: relative;
	bottom: -80px;
	right: -240px;
	border-radius: 5px;
	transition: 0.3s;
	z-index: 3;
}

.button:hover {
	background-color: #111113;
	color: white;
}

.cursor {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-style: solid;
	border-color: white;
	background-color: white;
	opacity: 90%;
	animation: cursorAnim 0.6s infinite alternate;
	transition: 0.1s;
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 3;
}

.cursor::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	top: -11px;
	left: -11px;
	mix-blend-mode: difference;
}


@keyframes cursorAnim {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.7);
	}
}

@keyframes cursorAnim2 {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.4);
	}
}

@media (max-width: 640px) {
	.cursor {
		visibility: hidden;
	}
	video {
		top: 0px;
	}
	.glyph {
		font-size: 24px;
		height: 10px;
		width: 10px;
	}
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-download:before { content: '\e800'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */